body {
	font-family: "Verdana", "Geneva", "sans-serif";
	padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}

#mapheader1 {
	color: #e81523;
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 5000;
    top: 25px;
    left: 75px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 4px;
}
#mapheader2 {
	color: #e81523;
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 5000;
    top: 72px;
    left: 75px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
}
#pirati-logo {
	position: fixed;
	z-index: 5000;
    bottom: 25px;
    left: 75px;
}
#pirati-logo img {
	width: 150px;
}

/*numbered icon*/
.leaflet-div-icon {
	background: transparent;
	border: none;
}
.leaflet-marker-icon .number{
	position: relative;
	top: -28px;
	left: 7px;
	font-size: 12px;
	width: 25px;
	text-align: center;
	font-weight: bold;
}

.leaflet-marker-icon img{
	position: relative;
	height: 40px;
	width: 40px;
}

